<%- include partials/header.ejs  %> 
<%- include partials/main_nav.ejs %> 
 <!--Main Content-->
 <main class="container information">
      <div class="col-md-6 float-left ">
            <img src="/Assets/images/moon.jpg" class="img-fluid shadow p-3 mb-5 bg-white rounded" alt="">
      </div>
      <div class="col-md-6 float-right">
            <h1><b>About Me</b></h1>
            <p>My name is Najmun Nahar. I was born in 1996. I belong from Bangladesh.  Ever since I was young, I have enjoyed dabbling with computers and experimenting with different applications and hence I chose the field of technology as my career path. I have completed my undergraduate studies in Computer Science & Engineering and attained my Bachelor's degree in the year 2019. During my study period I have worked with several projects and after graduation I have also gained experience as a front-end developer. After working in a software company for approximately 6 months I applied for my higher studies and arrived at Canada in the year 2021. Currently I am enrolled in Centennial College in the Software Engineering & Technology Program. </p>
            <a href="/Assets/documents/Resume.pdf" target="_blank"><button>Download Resume <i class="fas fa-download"></i></button></a>
      </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %> 