<%- include partials/header.ejs  %> 
<%- include partials/main_nav.ejs %> 
 <!--Main Content-->
<main class="bg"><br>
  <div class="col-md-6 float-left">
      <br><br>
      <div class="col-md-12 contact_wrapper">
        <h4><b>CONTACT DETAILS</b></h4>
        <p><i class="far fa-user"></i> Name: Najmun Nahar</p>
        <p><i class="fas fa-envelope-open-text"></i> Email: nazmun.nahar089@gmail.com</p>
        <p><i class="fas fa-phone"></i> Contact no: +16475614123</p>
      </div>
  </div>
  <div class="col-md-6 forms input-group float-right shadow p-3 mb-5 bg-white rounded">
    <br>
    <div class="col-md-6">
        <!-- First Name-->
        <input type="text" class="form-control" placeholder="First Name" /> <br>

         <!-- Last Name-->
         <input type="text" class="form-control" placeholder="Last Name" /><br> 

        <!-- Contact No-->
        <input type="text" class="form-control" id="nameinput" placeholder="Phone Number" /><br>
        
        <!--Email-->
        <input type="email" class="form-control" placeholder="name@example.com" /><br>          
    </div>
    <div class="col-md-6">
        <!--Text Area-->
        <textarea class="form-control" rows="6" placeholder="Leave a message here" id="floatingTextarea"></textarea>
        <br>
        <!--Submit-->
        <a href="/"><input type="submit"></a>   
    </div>
</div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %> 
  
  

  




