
<%- include partials/header.ejs  %> 
<%- include partials/main_nav.ejs %> 
 <!--Main Content-->
<main class="bg">
  <div class="home_text">
    <div class="col-md-6">
        <h4>Welcome!!</h1>
        <h1>I Am Najmun Nahar</h2>
        <p><b>My Mission:</b> From the beginning it has been my mission to provide best quality services. It is my passion to code efficiently and clearly, because quality makes the difference..</p>
        <a class="btn" href="/about">About Me</a>
    </div>
    <div class="col-md-6"></div>    
  </div>     
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %> 
  
  

  




