<%- include partials/header.ejs  %> 
<%- include partials/main_nav.ejs %> 
 <!--Main Content-->
 <main class="container-fluid">
    <br>
    <h3 class="text-center"><b>My Projects</b></h1><br>
        <div class="row project_wrapper ">
            <div class="col-md-4">
                <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
                    <img src="/Assets/images/3.jpg" alt="" class="img-fluid ">
                    <h7 class="text-center"><b>Super Mickey</b></h7>
                    <p>Super Mickey is a 2D side scroll shooting game developed for Android. It is designed using Unity3D and programmed in C# language.  </p>
                </div>              
            </div>
            <div class="col-md-4">
                <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
                    <img src="/Assets/images/2.jpg" alt="" class="img-fluid">
                    <h7 class="text-center"><b>Wake Up</b></h7>
                    <p>Wake Up is 2D story based game developed for android. The goal of the game is to solve the puzzles in order to proceed. The game is designed using Unity3D and programmed in C# language. </p>
                </div>    
            </div>
            <div class="col-md-4">
                <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
                    <img src="/Assets/images/1.jpg" alt="" class="img-fluid">
                    <h7 class="text-center"><b>Pretty Little Liars</b></h7>
                    <p>The Game is a 3D third person controller game developed for Microsoft Windows. The game is designed using Unity3D, Monodevelop,Mixamo and Blender and programmed using C#.</p>
                </div>            
            </div>
        </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %> 